/************************************
            By Dan Harper
        http://www.danharper.me

           For NETTUTS.com

     Check out http://vivawp.com
************************************/

/* * {
margin: 0;
padding: 0;
}

body {
font-size: 75%;
color: #222;
background: #ffffff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
}*/


ul.tabnav{
    margin: 0;
    padding: 0;
}

.widget {
    font-size:90%;
    width: 480px;
    margin: 5px 0px;
    padding: 10px;
    /*background: #f3f1eb;*/
    background:#f0f0f0;
    border: 1px solid #dedbd1;
    margin-bottom: 15px;
}

	.widget a {
	color: #222;
	text-decoration: none;
	}
	
	.widget a:hover {
	/*color: #009;
	text-decoration: underline;*/
	}

	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
	}
	
		.tabnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #a40000;
		font-weight: bold;
		padding: 4px 6px;
		outline: none;
		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
		background: #dedbd1;
		color: #a40000;
                font-size:130%;
		text-decoration: none;
		}
		
	.tabdiv {
	margin-top: 2px;
	background: #fff;
	border: 1px solid #dedbd1;
	padding: 20px 10px;
	}
        .tabdiv li{
            line-height: 2em;
	}
	


.ui-tabs-hide {
		display: none;
		}

		#featuredvid {
		text-align: center;
		}
		
			.fvid {
			margin-bottom: 5px;
			}
		
			.vidselector li {
			text-align: left;
			list-style: none;
			padding: 5px;
			background: #ffffff;
			border: 1px solid #dedbd1;
			text-transform: uppercase;
			margin-bottom: 5px;
			}
