table.tablesorter tbody td.id,
table.tablesorter tbody td.cena
    {text-align: center;}
table.tablesorter thead tr th{text-align: center;}

table.tablesorter tbody td{padding-left: 10px;}
table.tablesorter tbody td.name{font-weight: bold;color: #a40000;}


table.tablesorter thead tr th.id{width:40px;}
table.tablesorter thead tr th.cena{width:60px;}
#zavody table{width:500px;margin:0 auto;}
tr.odd td{background: red;}