table.tablesorter tbody td.id,
table.tablesorter tbody td.cena
    {text-align: center;}
table.tablesorter thead tr th{text-align: center;}

table.tablesorter tbody td{padding-left: 5px;padding-right: 5px;}
table.tablesorter tbody td.name{font-weight: bold;color: #a40000;}


table.tablesorter thead tr th.id{width:30px;}
table.tablesorter thead tr th.cena{width:60px;}
tr.odd td{background: red; font-size: 100%;}